In [4]:
a = ("bat", "bowl", "bun")

print(a)

print(a[0])
print(a[1])
print(a[2])

('bat', 'bowl', 'bun')
bat
bowl
bun

In [14]:
b = (1,2,3,4,5)

print(b[-1])

b[-1] == "King"

5

False

In [10]:
# Duplicates

g = (1,2,3,1)

print(len(g))

4

In [3]:
# Methods

a = (1,2,3,4,5,6, 3,3,3,3,3,3,3,3,3,3)

cnt = a.count(3)
cnt

11

In [8]:
a = ("Raphael",1,2,3,4,5,6, 3,3,3,3,3,3,3,3,3,3)

itm = a.index("Raphael")
itm

0

In [9]:
len(a)

17

In [11]:
a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'