In [4]:
# lambda args : expression

cube = [i**3 for i in range(10)]
print(cube)

def cube1(x):
    print(x**3)

cube2 = lambda x : x**3

print(cube1(5))
print(cube2(5))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
125
None
125

In [9]:
out = lambda x,y : "the the " + str(x) + " and " + str(y)
print(out(3,5))

the the 3 and 5

In [11]:
x = lambda a,b,c : a * b * c
print(x(1,2,3))

6

In [12]:
# lambda
      # filter()
      # map()
      # reduce()

# filter()

In [17]:
num = [i for i in range(100)]
#print(num)

even = list(filter(lambda a: (a%2==0), num))
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [33]:
# filter out odd numbers from 1000 to 3000, which are multiples of 103
num1 = [i for i in range(1000, 3000)]
odd = list(filter(lambda x: (x%2==1) and (x%103==0), num1))

print(odd)

[1133, 1339, 1545, 1751, 1957, 2163, 2369, 2575, 2781, 2987]

In [31]:
ages = [20,21,17,17,19,23,35,42,11,7,3,1,55]

adult_serv = list(filter(lambda num: num>18, ages))
adult_serv.reverse()
print(adult_serv)

[55, 42, 35, 23, 19, 21, 20]

# map()

In [32]:
x = [1,2,3,4,5,6,7,8]
y = list(map(lambda a: a*2, x))

print(y)

[2, 4, 6, 8, 10, 12, 14, 16]