# Python String Exercises to Pull

#### Question 1 
Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

In [5]:
#---- Examples -------------------------

input_string = "JhonDipPetaJhonDipPetaJhonDipPetaJhonDipPetaJhonDipPetaJhonDipPetaJhonDipPeta"    
# expected_output: "Dip"

# input_string = "JaSonAy"
# expected_output: "Son"

#---------------------------------------


# Your Solution Here

mid = int(len(input_string)/2)
mid3 = input_string[mid-1 : mid+2]

print(mid3)

Dip

#### Question 2 
Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

In [15]:
#---- Examples -------------------------

# s1 = "Ault"
# s2 = "Kelly"

# expected_output: "AuKellylt"

#---------------------------------------


# Your Solution Here

string1 = "abcdefg"
part = string1[4:]

print(part)

efg

#### Question 3
Given two strings, s1, and s2 return a new string made of the first, middle, and last characters each input string

In [21]:
#---- Examples -------------------------
s1 = "AmericaAmericaAmericaAmericaAmericaAmericaAmericaAmericaAmerica"
s2 = "JapanAmericaAmericaAmericaAmericaAmericaAmericaAmericaAmericaAmerica"

# expected_output: "AJrpan"

#---------------------------------------


# Your Solution Here


first = s1[0] + s2[0]
mid = s1[int(len(s1)/2)] + s2[int(len(s2)/2)]
last = s1[-1] + s2[-1]

print(first + mid + last)

AJrmaa

#### Question 4
Count all digits from a given string

In [ ]:
#---- Examples -------------------------

# s1 = "a1b2c3d4e5"
# s2 = "Japan"

# expected_output: "There are 5 digits in the string."

#---------------------------------------


# Your Solution Here

#### Question 5
Find all occurrences of a given word in a given string

In [35]:
#---- Examples -------------------------

word = "UESTC"
s1 = "UESTC is young.UESTC is in Sichuan.UESTC is fun."

# expected_output: "There are 3 occurences of UESTC."

#---------------------------------------


# Your Solution Here

s1 = s1.split()
print(s1)


count = 0

for _ in s1:
    if _ == word:
        count = count + 1

print("There are", count, "Uestc(s)in the sentence")

['UESTC', 'is', 'young.UESTC', 'is', 'in', 'Sichuan.UESTC', 'is', 'fun.']
There are 1 Uestc(s)in the sentence

'ABC23'

#### Question 6
Given a string, find the sum of all the numbers in the string.

In [73]:
#---- Examples -------------------------

s1 = "1 potato, 20001 potatoes, 3 potatoes 4 5 ..."
# expected_output: "The sum of the numbers in the string is 6"

# s2 = "On the tenth day of Christmas my true love sent to me: 
#        10 Lords a Leaping, 9 Ladies Dancing, 8 Maids a Milking,
#        7 Swans a Swimming, 6 Geese a Laying, 5 Golden Rings,
#        4 Calling Birds,    3 French Hens,    2 Turtle Doves
#        and a Partridge in a Pear Tree."
# expected_output: "The sum of the numbers in the string is 54"

#---------------------------------------


# Your Solution Here

count = 0

s1 = s1.split()
print(s1)

for word in s1:
    if word.isdigit():
        count+= int(word)
count

['1', 'potato,', '20001', 'potatoes,', '3', 'potatoes', '4', '5', '...']

20014

#### Question 7:
Reverse the string
Note, do not use any special functions like "reverse".

In [ ]:
#---- Examples -------------------------

# s1 = "Delali adniL"
# expected_output: "Linda Delali"

#---------------------------------------


s1 = "My very eye may just see"

s2 = "eye".reverse()

s2 == "eye"


# Your Solution Here

In [50]:
#isdigit, isnumeric, isdecimal

num = "23"

print(num.isdigit())
print(num.isnumeric())
print(num.isdecimal())

print(type(num))

True
True
True
<class 'str'>

In [58]:
a = "1"
b = "2"

print("3")

3

In [52]:
def add(x,y):
    return x+y

add(30,35)

65

In [ ]:
brute-force
basic
---
memoization
dynamic programming

# Great Methods with Strings

#### capitalize()	
Converts the first character to upper case

#### casefold()	
Converts string into lower case

#### center()	
Returns a centered string

#### count()	
Returns the number of times a specified value occurs in a string

#### encode()	
Returns an encoded version of the string

#### endswith()	
Returns true if the string ends with the specified value

#### expandtabs()	
Sets the tab size of the string

#### find()	
Searches the string for a specified value and returns the position of where it was found

#### format()	
Formats specified values in a string

#### format_map()	
Formats specified values in a string

#### index()	
Searches the string for a specified value and returns the position of where it was found

#### isalnum()	
Returns True if all characters in the string are alphanumeric

#### isalpha()	
Returns True if all characters in the string are in the alphabet

#### isdecimal()	
Returns True if all characters in the string are decimals

#### isdigit()	
Returns True if all characters in the string are digits

#### isidentifier()	
Returns True if the string is an identifier

#### islower()	
Returns True if all characters in the string are lower case

#### isnumeric()	
Returns True if all characters in the string are numeric

#### isprintable()	
Returns True if all characters in the string are printable

#### isspace()	
Returns True if all characters in the string are whitespaces

#### istitle()	
Returns True if the string follows the rules of a title

#### isupper()	
Returns True if all characters in the string are upper case

#### join()	
Joins the elements of an iterable to the end of the string

#### ljust()	
Returns a left justified version of the string

#### lower()	
Converts a string into lower case

#### lstrip()	
Returns a left trim version of the string

#### maketrans()	
Returns a translation table to be used in translations

#### partition()	
Returns a tuple where the string is parted into three parts

#### replace()	
Returns a string where a specified value is replaced with a specified value

#### rfind()	
Searches the string for a specified value and returns the last position of where it was found

#### rindex()	
Searches the string for a specified value and returns the last position of where it was found

#### rjust()	
Returns a right justified version of the string

#### rpartition()	
Returns a tuple where the string is parted into three parts

#### rsplit()	
Splits the string at the specified separator, and returns a list

#### rstrip()	
Returns a right trim version of the string

#### split()	
Splits the string at the specified separator, and returns a list

#### splitlines()	
Splits the string at line breaks and returns a list

#### startswith()	
Returns true if the string starts with the specified value

#### strip()	
Returns a trimmed version of the string

#### swapcase()	
Swaps cases, lower case becomes upper case and vice versa

#### title()	
Converts the first character of each word to upper case

#### translate()	
Returns a translated string

#### upper()	
Converts a string into upper case

#### zfill()	
Fills the string with a specified number of 0 values at the beginning

In [ ]:
s1 = "Great"

print(num.isdigit())
print(num.isnumeric())
print(num.isdecimal())

In [10]:
stre = "ruddy"

stre = stre.center(30)

print("This is my" + stre + "who is a ...")

This is my            ruddy             who is a ...

In [17]:
s1 = "My \n name is #1?"
s1.isprintable()

False

In [ ]:
format()
Formats specified values in a string

format_map()
Formats specified values in a string

In [18]:
x = 4
y = 16

print("the answers are {} and {}".format(x,y))

the answers are 4 and 16

In [22]:
num = {'x':4, 
       'y':16}

print("the answers are {}".format(num))
print("the answers are {x} and {y}".format_map(num))

the answers are {'x': 4, 'y': 16}
the answers are 4 and 16